{% extends "layouts/layout.html" %}
<!-- Title -->
{% block title %}
URL Shortener
{% endblock %}
<!-- Navigation -->
{% block nav %}
<li><a href="/shorten">URL Shortener</a></li>
<li class="active"><a href="/career/">Career<span class="sr-only">(current)</span></a></li>
{% endblock %}
<!-- Content -->
{% block content %}
<div class="col-md-12">
    {% if job %}
    <div class="data">
      <h2 class="text-center alert alert-success">{{ job.title }}</h2>
      <h4 class="text-center">
          <i class="fa fa-calendar" aria-hidden="true" style="color: LightSalmon"></i>
          {{ date }}
      </h4>
      <div class="description">
        {{ content }}
      </div>
    {% else %}
    <div class="no-data">
      <p>No data</p>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}
